[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=No Name
Name=Cascaders App
Comment=Helping people find help
Exec=python cascaders --noshow
Icon=/home/username/msn/icons/48x48/amsn.png 
Categories=Education;ComputerScience;
X-GNOME-Autostart-enabled=true
